---
	import * as Icon from '@astropub/icons'
	import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

	export interface Props {
		title: string;
	}

	const primary = '#6F00FD';
	const secondary = '#0066FF';

	const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Brian Burkard's web development resume and portfolio.">
	<meta name="keywords"
		content="HTML, CSS, JavaScript, Web Development, Brian Burkard, React, Next, TypeScript, front end, web developer, for hire, senior web developer, engineer">
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<GoogleFontsOptimizer
		url="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap">
	</GoogleFontsOptimizer>
	<meta name="generator" content={Astro.generator} />
	<title>Brian Burkard - {title}</title>
</head>

<body class="bg-gray-200 font-text">
	<div id="wrapper" class="max-w-5xl mx-auto bg-white shadow-lg p-6 pt-0">
		<nav class="py-3 sticky top-0 bg-white flex justify-between">
			<div class="flex gap-4">
				<a href="mailto:brianburkard@gmail.com">
					<Icon.EnvelopeClosed size="26" fill={primary} class="hover:shadow-md" />
				</a>
				<a href="https://github.com/BeardedBry">
					<Icon.GitHubLogo size="26" fill={primary} class="hover:shadow-md" />
				</a>
				<a href="https://twitter.com/BeardedGuyBry">
					<Icon.TwitterLogo size="26" fill={primary} class="hover:shadow-md" />
				</a>
			</div>
			<!-- Brian Burkard | Web Developer -->
		</nav>
		<div class="w-screen h-48 bg-primary relative left-[calc(-50vw+50%)] shadow-lg">
			<div class="max-w-5xl mx-auto p-6 pt-8 text-white grid grid-cols-3 gap-12 font-mono">
				<div class="col-span-3 md:col-span-1">
					<!-- <p class="text-5xl font-logo">BRIAN</p>
					<p class="text-5xl font-logo">BURKARD</p> -->
					<img src="./BrianBurkard.svg" alt="Brian Burkard" width="204" height="104" />
					<p class="text-2xl tracking-wide pt-1">Web Developer</p>
				</div>
				<div class="col-span-2 -translate-y-2 hidden md:block">
					<div class="sr-only">Hi, I’m a web developer focused on building great user experiences.</div>
					<p class="text-3xl leading-10 tracking-wide typed-element">
					</p>
				</div>
			</div>
		</div>
		<!-- <div class="md:hidden">
			<p class="mt-4 text-3xl leading-10 tracking-wide typed-element-mobile"></p>
		</div> -->
		<slot />
	</div>
	<footer class="text-center py-9">
		© Copyright <span id="year"></span>
	</footer>
</body>

</html>

<script>
	import Typed from 'typed.js';
	document.querySelector("#year").append(new Date().getFullYear());


	var options = {
		strings: ['', 'Hi, I’m a web developer focused on building great user experiences.'],
		typeSpeed: 30,
		// backDelay: 900,
	};

	var typed = new Typed('.typed-element', options);
	// var mobileTyped = new Typed('.typed-element-mobile', options);

</script>


<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}

	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>